/*@charset "UTF-8";*/
body{
	background-color:#ddd;
	margin:0;
	padding:0;
	font-family: Verdana,sans-serif;
	font-size:13pt;
	width:100%;
	height:100%;
	
}
body *{
	box-sizing: border-box;
}



#myapplication{
	width:100%;
	height:100%;
	overflow:auto;
	position: absolute;
}

.nodeset{
	border:2px solid #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
	margin:5px;
	margin-top:13px;
	padding:10px;
	background-color:#eee;
	position:relative;	
}

.nodeset h1{
	margin: 0;
    padding: 0 10px;
    font-size: 10pt;
    line-height: 10pt;
    position: absolute;
    top: -10px;
    left: 15px;
	background-color:#eee;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	border-bottom-color:transparent;
	border-left-color:transparent;
	color:#444;
	
}
.nodeset p{
	margin: 0;
    padding: 0;	
}
.nodeset input{
	margin-left: 5px;
}

.nodeset input[type="number"]{
	width:50px;
}
.nodeset p{
	margin-bottom:5px;
}

.hiddenbutton{
	display:none;
}
.inputfilebutt{
	height:24px;
	vertical-align:top;
}
.inputlabelpath{
	font-size:10pt;
	color:#444;
	margin:0 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% - 130px);
	display:inline-block;
	height:24px;
	line-height:24px;
	vertical-align:top;
}

.inputlabelfile{
	font-size:10pt;
	color:#444;
	margin:0 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 200px;
	display:inline-block;
	height:24px;
	line-height:24px;
	vertical-align:top;
}
.inputlabelfilename{
	font-size:10pt;
	color:#444;
	margin:0 5px;
	
}

.progressbar{
	display:block;
	width:calc(100% - 10px);
	height:20px;
	position:relative;
	overflow:hidden;
	margin: 5px;
	border:1px solid #ccc;
	background-color:#ddd;
}
.progressbarbalken{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:0;
	background-color:#59da6d;
}
.progressbartext{
	position:absolute;
	margin:0;
	padding:0;
	left:0;
	top:0;
	width:100%;
	height:100%;
	color:#fff;
	line-height:17px;
	font-size: 10pt;
	text-align:center;
	/*text-shadow: 0px 0px 6px #444;*/
	text-shadow: -1px -1px 0px #444,0px -1px 0px #444,1px -1px 0px #444,  
				 -1px 1px 0px #444,0px 1px 0px #444,1px 1px 0px #444,
				 -1px 0px 0px #444, 1px 0px 0px #444;
}

.calccanvas{
	width:calc(100% - 10px);
	margin: 5px;
	border:1px solid #ccc; 
}


.vtab { 
      display: table; 
      border-collapse:collapse; 
    }
.vtab tr { 
  display:table-row; 
}
.vtab td { 
  display:table-cell; 
  border:1px solid #ccc; 
  padding:10px 15px;    
}
.vtab td.noborder { 
  border:0;    
  padding:15px; 
  vertical-align:top;
}
	
	
/* responsive */
@media screen and (max-width: 650px) {
	
}
